---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Gurkeerat" description="About Gurkeerat">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/keerat-codes.jpg"
					alt="Gurkeerat coding"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>

					</p>
					<p>
						I am a software engineer with a passion for crafting innovative and user-centric products. 
						My technical expertise, combined with a strong desire to remain current on the latest advancements in the field, allows me to deliver impactful solutions. 
						Additionally, I am committed to fostering a more accessible path into the world of technology for aspiring individuals.
					</p>
					<p style="margin-top: 15px;">
						Hailing from Kolkata, India, I embarked on a technical journey with a B.Tech from SRMIST, Chennai. 
						Currently, I work at Infosys (5+ years of experience) along with juggling my passions for Technology (<a target="_blank" href="https://devpost.com/keerat666">Hackathons</a>, <a target="_blank" href="https://www.youtube.com/channel/UCUKfjwTKqNfH8L2vlLwcqwg">Youtube</a>, <a target="_blank" href="https://leetcode.com/u/gurkeeratsondhi/">Leetcode</a>) with my love for being a <a target="_blank" href="https://letterboxd.com/keerat666/">Cinephile</a>. 
						This unique mix of tech, creativity, and knowledge sharing defines who I am.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>2019 B.Tech CSE, passout from SRMIST, Chennai</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Javascript, Node.js, Angular, React, React Native, MEAN, MERN, Java, Spring Boot, Kotlin, Native Android App Development, Git.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
